<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'recipes')}">
<head>
    <meta charset="UTF-8">
    <title>Recipes home</title>
</head>
<body>
<div class="container">
    <div class="my-2">
        <div class="my-3">
            <div class="gap-3">
                <h3 class="mb-4">
                    <span th:text="${ingredient.description}" class="text-capitalize">Ingredient</span>
                    <a th:href="'/recipes/' + ${recipeId} + '/ingredients'" class="link-info fs-6 fw-light">
                        Back to ingredients
                    </a>
                </h3>
                <div class="card">
                    <div class="card-body">
                        <h3>Name:</h3>
                        <p style="white-space: pre-line" th:text="${ingredient.description}"></p>
                        <h3>Unit of measure:</h3>
                        <p style="white-space: pre-line" th:if="(${ingredient.unitOfMeasure} != null)" th:text="${ingredient.unitOfMeasure.uom}"></p>
                        <h3>Amount:</h3>
                        <p style="white-space: pre-line" th:text="${ingredient.amount}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>